.wrap {
    width: 500px;
    height: 200px;
    background-color: aqua;
    .text {
        font-size: 30px;
        text-align: center;

    }
}

.md {
    .wrap {
        width: 400px;
        height: 100px;
        background-color: red;
    }
    .text {
        font-size: 20px;
        text-align: center;

    }
}